#layout {
    background-color: black;
    height: 500px;
    padding: 5px;
    text-align: center;
}

.gauche {
    text-align: left;
}

.droite {
    text-align: right;
}

h2,
p,
button {
    color: white;
}

button {
    background-color: midnightblue;
}