.nav {
    display: flex;
    justify-content: space-around;
}

.nav li {
    list-style-type: none;
    display: inline-flex;
}

.nav li a {
    border: 1px solid black;
    background-color: transparent;
    color: rebeccapurple;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
}

.nav li a:hover {
    background-color: royalblue;
    color: white;
}