.header {
    background-image: url(Pink-and-purple-stardust-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
}

.header-title {
    text-align: center;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 38%;
}